/* @import must be at top of file, otherwise CSS will not work */
@import url('//fonts.googleapis.com/css?family=Roboto:400,500,700');

// GET RESPONSIVE
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$fontfamily: 'Roboto', sans-serif;
$fontFamilyBold: 'Roboto', sans-serif;
$fontawesome: "Font Awesome 5 Free";

$txtcolor: #656f7f;
$white: #fff;
$black: #000;
$offwhite: #f3f3f4;
$border: #e2e5e8;
$border: #656f7f;
$grey: #ddd;
$blue: #007bbf;
$darkblue: #005dab;
$green: #69c184;
$purple: #ae76ba;
$yellow: #ffcd07;
$red: #f00;
$greybg: #f3f3f4;
$darkgreybg: #656f7f;
$greytxt: #656f7f;
$lightblue: #34B8EA;

$next-step-blue: #006ec7;
$next-step-yellow: #f0b324;
$next-step-red: #790000;


// Mixin0
@mixin linear-gradient($from, $to) {
    background: $to;
      background: -moz-linear-gradient(top, $from 0%, $to 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
      background: -webkit-linear-gradient(top, $from 0%,$to 100%);
      background: -o-linear-gradient(top, $from 0%,$to 100%);
      background: linear-gradient(to bottom, $from 0%,$to 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}
// USAGE
// .element{
//    @include linear-gradient(#cccccc, #666666);
// }
