﻿@import "vars";
@import "wordpresswysiwyg";
html, body {
    height: 100%;
}
body {
    font-family: $fontfamily;
    font-size: 16px;
    color: $txtcolor;
}
body {
    &.admin-bar {
        .header {
            &.fixed {
                top: 32px;
            }
            &-mobile {
                &.fixed {
                    top: 0;
                }
            }
        }
    }
    .header {
        transition: 0.1s all;
        background-color: $white;
        &.fixed {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
        }
    }
}

a {
    font-weight: 600;
    text-decoration: underline;
    color: $txtcolor;
    transition: 0.3s all;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1, .h1 {
    font-size: 1.75em;
    @media (min-width: $screen-md-min) {
        font-size: 2.125em;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 2.5em;
    }
}

h2, .h2 {
    font-size: 1.5em;
    @media (min-width: $screen-md-min) {
        font-size: 1.75em;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 2.125em;
    }
}

h3, .h3 {
    font-size: 1.25em;
    @media (min-width: $screen-md-min) {
        font-size: 1.5em;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 1.75em;
    }
}

h4, .h4 {
    font-size: 1.125em;
    @media (min-width: $screen-md-min) {
        font-size: 1.25em;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 1.5em;
    }
}

h5, .h5 {
    font-size: 1em;
    @media (min-width: $screen-md-min) {
        font-size: 1.125em;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 1.5em;
    }
}

blockquote {
    position: relative;
    font-size: 1.125em;
    line-height: 1.618em;
    text-align: center;
    text-transform: uppercase;
    font-family: $fontfamily;
    font-style: italic;
    border-style: solid;
    border-color: $border;
    border-width: 10px 0;
    padding: 1.5em 2em;
}

.hr {
    display: block;
    height: 3px;
    background-color: $border;
    @media (min-width: $screen-md-min) {
        height: 6px;
    }
}

.no-margin-top {
    @media (min-width: $screen-md-min) {
        margin-top: 0 !important;
    }
}

table {
    overflow-x: auto;
    max-width: 100%;
    &.alignleft {
        float: none;
        margin-bottom: 2em;
    }
    th {
        padding: 0.5em 0.25em;
        font-size: 0.875em;
        font-weight: 700;
        text-align: left;
        @media (min-width: $screen-md-min) {
            font-size: 1em;
        }
    }
    td {
        padding: 0.5em 0.25em;
        font-size: 0.75em;
        text-align: left;
        border-bottom: 1px solid $border;
        @media (min-width: $screen-md-min) {
            font-size: 0.9375em;
        }
    }
}

.fancybox {
    &-new-close {
        display: inline-block;
        padding: 0.5em 1em;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $darkblue;
        color: $white;
        &:hover {
            background-color: darken($darkblue,10%);
            color: white;
        }
    }
}

.btn,
input[type="submit"] {
    margin-top: 0.5em;
    padding: 0.875em 2em;
    max-width: 100%;
    font-size: 0.875em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    white-space: normal;
    @media (min-width: $screen-lg-min) {
        font-size: 1em;
    }
    &:after {
        content: "\f105";
        font-family: $fontawesome;
        display: inline-block;
        margin-left: 5px;
        font-weight: 900;
    }
    &.green-bg {
        &:hover {
            background-color: darken($green,10%);
        }
    }
    &.blue-bg {
        &:hover {
            background-color: darken($blue,10%);
        }
    }
    &.darkblue-bg {
        &:hover {
            background-color: darken($darkblue,10%);
        }
    }
    &.purple-bg {
        &:hover {
            background-color: darken($purple,10%);
        }
    }
    &.yellow-bg {
        &:hover {
            background-color: darken($yellow,10%);
        }
    }
    &.grey-bg {
        &:hover {
            background-color: darken($greybg,10%);
        }
    }
    &.darkgrey-bg {
        &:hover {
            background-color: darken($darkgreybg,10%);
        }
    }
    &.white-bg {
        &:hover {
            background-color: darken($white,5%);
        }
    }
}
input[type="submit"] {
    border: 0;
    background-color: $darkblue;
    color: $white;
    &:hover {
        color: $white;
        background-color: darken($darkblue,10%);
    }
}

.green-bg {
    background: $green;
    &:not(.btn){
        @include linear-gradient($green, #00b08c);
    }
}
.blue-bg {
    background: $blue;
    &:not(.btn){
        @include linear-gradient($blue, #39b7ea);
    }
}
.darkblue-bg {
    background: $darkblue;
    &:not(.btn){
        @include linear-gradient($darkblue,darken($darkblue,10%));
    }
}
.purple-bg {
    background: $purple;
    &:not(.btn){
        @include linear-gradient($purple,darken($purple,10%));
    }
}
.yellow-bg {
    background: $yellow;
    &:not(.btn){
        @include linear-gradient($yellow,darken($yellow,5%));
    }
}
.grey-bg {
    background: $greybg;
    &:not(.btn){
        @include linear-gradient($greybg,darken($greybg,1%));
    }
}
.darkgrey-bg {
    background: $darkgreybg;
    &:not(.btn){
        @include linear-gradient($darkgreybg,darken($darkgreybg,1%));
    }
}
.white-bg {
    background-color: $white;
}
.transparent-bg {
    background-color: transparent;
}

.green-txt {
    color: $green;
    &:hover {
        color: $green;
    }
}
.blue-txt {
    color: $blue;
    &:hover {
        color: $blue;
    }
}
.darkblue-txt {
    color: $darkblue;
    &:hover {
        color: $darkblue;
    }
}
.purple-txt {
    color: $purple;
    &:hover {
        color: $purple;
    }
}
.yellow-txt {
    color: $yellow;
    &:hover {
        color: $yellow;
    }
}
.grey-txt {
    color: $greytxt;
    &:hover {
        color: $greytxt;
    }
}
.white-txt {
    color: $white;
    &:hover {
        color: $white;
    }
}

ol {
    list-style: none;
    position: relative;
    counter-reset: ol-counter;
    li {
        counter-increment: ol-counter;
        margin-bottom: 0.5em;
        &:before {
            position: absolute;
            display: inline-block;
            padding: .3em .5em;
            left: 0.25em;
            margin-top: 0.125em;
            font-size: 0.875em;
            line-height: 1;
            border-radius: 50%;
            content: counter(ol-counter);
            color: $white;
            background-color: $darkblue;
        }
    }
}


.top-menu,
.main-menu,
.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.top-bar {
    line-height: 2.5;
    text-align: right;
    background-color: $offwhite;
    .top-menu {
        display: inline-block;
        a {
            font-size: 0.8125em;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 1;
        }
        & > li {
            display: inline-block;
            margin-left: 1em;
            &.menu-item-has-children {
                position: relative;
                &:after {
                    display: inline-block;
                    margin-left: 5px;
                    content: "\f107";
                    font-family: $fontawesome;
                    font-weight: 700;
                    font-size: 0.75em;
                }
                &:hover {
                    .sub-menu {
                        display: block;
                    }
                }
            }
        }
        .sub-menu {
            display: none;
            width: 125px;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            position: absolute;
            left: -0.9em;
            text-align: left;
            z-index: 2;
            background-color: $offwhite;
            a {
                display: block;
                padding: 0.75em 1em;
            }
        }
    }
    .sm-link {
        display: inline-block;
        position: relative;
        bottom: -4px;
        margin-left: 1em;
        margin-right: 0.5em;
        font-size: 1.5em;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1;
        span {
            padding: 3px;
            &.yt {
                a {
                    &:hover {
                        color: $red;
                    }
                }
            }
            &.tw {
                a {
                    &:hover {
                        color: $lightblue;
                    }
                }
            }
        }
    }
}

.main-menu {
    text-align: center;
    margin-top:1em;

    a {
        display: inline-block;
        font-weight: 600;
        text-decoration: none;
        padding:1em 0.5em;

        @media (min-width: $screen-lg-min) {
            padding:1em;
        }

        &:hover {
            color: $blue;
        }
    }
    & > li {
        display: inline-block;

        &.menu-item-has-children {
            position: relative;
            &.current-menu-item,&:hover{
                background-color: $blue;
                &:after {
                    color: $white;
                }
                & > a {
                    color: $white;
                }
            }
            &:hover{
                .sub-menu {
                    display: block;
                }
            }
            &:after {
                display: inline-block;

                content: "\f107";
                font-family: $fontawesome;
                margin-left:0em;
                margin-right:1em;

                font-weight: 700;
                font-size: 0.75em;
            }
        }
    }
    .sub-menu {
        display: none;
        min-width: 200px;
        position: absolute;
        left: 0;
        top: auto;
        text-align: left;
        background-color: $blue;
        z-index: 9;
        a {
            display: block;
            color: $white;

            &:hover,.current-menu-item &{
                background-color: $white;
                color: $blue;
            }
        }
        li {
            border-bottom: 1px solid $white;
            &:last-child {
                border-bottom: 0;
            }
            &.current-menu-item {
                & > a {
                    color: $blue;
                    background-color: $white;
                }
            }
        }
    }

}

.mobile-menu {
    position: static;
    .fas {
        width: 100%;
        text-align: right;
        font-size: 2em;
        color: $darkblue;
    }
}
.mobile-main-menu {
    position: absolute;
    opacity: 0;
    padding: 0.5em 1.5em 1em;
    margin: 0;
    left: 0;
    list-style: none;
    width: 100%;
    background-color: $white;
    z-index: 100;
    transition: 0.3s all;
    height: 0;
    top: -9999px;
    overflow-y: auto;
    &-wrapper {
        position: relative;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    a {
        text-transform: uppercase;
        text-decoration: none;
    }
    & > li {
        border-bottom: 1px solid $border;
        &.menu-item-has-children {
            position: relative;
            .fas {
                display: inline-block;
                width: 2em;
                text-align: center;
                margin-left: 5px;
                font-size: 1em;
                position: absolute;
                top: 0;
                right: 0;
                line-height: 3em;
            }
        }
        & > a {
            display: block;
            padding: 0.75em 2em 0.75em 0;
            cursor: pointer;
        }
        &:hover {
            & > a {
                color: $darkblue;
            }
            &:after {
                color: $darkblue;
            }
        }
        .sub-menu {
            padding-top: 0.25em;
            padding-bottom: 0.25em;
            border-top: 1px solid $greybg;
            li {
                a {
                    display: block;
                    padding: 0.5em 0 0.5em 1em;
                }
            }
        }
    }
    li {
        display: block;
    }
    .sub-menu {
        display: none;
    }
}
.header-mobile {
    position: relative;
}

.header {
    padding-top: 1em;
    & > .rainbow-hr {
        margin-top: 1em;
    }
    & > .container > .row {
        align-items: center;
    }
    &-logo {}
    &-cta {
        text-align: center;
        .btn {
            padding: 0.875em 1.5em;
            font-size: 0.7em;
            @media (min-width: $screen-lg-min) {
                font-size: 0.875em;
            }
        }
    }
}

.banner {
    position: relative;
    &-overlay {
        &:before {
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
            content: "";
            background-color: rgba($black,0.2);
        }
        &.banner-withimage {
            &:before {
                background: transparent;
            }
        }
    }
    &-item {
        height: 350px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;

        @media (min-width: $screen-md-min) {
            height: 500px;
        }
        @media (min-width: $screen-lg-min) {
            height: 600px;
        }
        // Background image alignment
        &.align {
            &-top {
                background-position:top;
            }
            &-bottom {
                background-position:bottom;
            }
        }


        & > .container {
            height: 100%;
            & > .row {
                height: 100%;
                align-items: center;
                text-align: center;
            }
            & .align {
                &-top {
                    align-self: flex-start;
                    padding-top:2em;
                }
                &-bottom {
                    align-self: flex-end;
                    padding-bottom:2em;
                }
            }
        }
        &-content {
            h1 {
                margin-bottom: 0.5em;
                font-size: 1.75em;
                font-weight: 300;
                text-shadow: 0 0 20px rgba($black,0.2);
                &.shadow-boost{
                    text-shadow: 0 0 20px rgba($black,0.8);
                    font-weight:800;
                }
                @media (min-width: $screen-md-min) {
                    font-size: 2.25em;
                    letter-spacing: 3px;
                }
                @media (min-width: $screen-lg-min) {
                    font-size: 3.25em;
                }
            }
            &-txt {
                font-size: 0.9375em;
                margin-bottom: 1em;
                text-shadow: 0 0 20px rgba($black,0.1);
                @media (min-width: $screen-md-min) {
                    font-size: 1.125em;
                }
                @media (min-width: $screen-lg-min) {
                    font-size: 1.375em;
                }
                .btn {
                    font-size: 1em;
                    @media (min-width: $screen-md-min) {
                        font-size: 0.875em;
                    }
                }
            }
        }
        &-icons {
            &-items {
                display: inline-block;
                margin: 0 0.25em;
                img {
                    max-width: 60px;
                    @media (min-width: $screen-md-min) {
                        max-width: 90px;
                    }
                    @media (min-width: $screen-lg-min) {
                        max-width: 120px;
                    }
                }
            }
        }
        &.withimage {
            padding-top: 3em;
            height: 450px;
            @media (min-width: $screen-md-min) {
                height: 500px;
            }
            @media (min-width: $screen-lg-min) {
                height: 600px;
            }
            & > .container {
                height: 100%;
                & > .row {
                    height: 100%;
                    align-items: flex-start;
                    text-align: center;
                }
            }
        }
    }
}

.heading-section {
    &-item {
        & > .container {
            & > .row {
                align-items: center;
            }
        }
        h2 {
            margin: 0;
            padding: 1.125em 0.25em;
            font-size: 1.3em;
            @media (min-width: $screen-lg-min) {
                font-size: 1.75em;
            }
            @media (min-width: $screen-lg-min) {
                font-size: 2.125em;
            }
        }
        img {
            max-width: 145px;
            width: 100%;
        }
    }
}

.flexible-content {
    ol,
    ul {
        // We should never allow bullet points to be center aligned
        text-align: left !important;
        &.two-column {
            @media (min-width: $screen-md-min) {
                -webkit-columns: 2;
                columns: 2;
            }
        }
    }
}
.one-column {
    &-item {
        padding-top: 1em;
        padding-bottom: 2em;
        text-align: center;
        h2 {
            margin-top: 1em;
            margin-bottom: 1em;
            padding-left: 1em;
            padding-right: 1em;
            font-size: 1.5em;
            @media (min-width: $screen-md-min) {
                font-size: 1.75em;
            }
            @media (min-width: $screen-lg-min) {
                font-size: 2.125em;
            }
        }
        &-content {
            &-txt {
                font-size: 1em;
                @media (min-width: $screen-lg-min) {
                    font-size: 1.125em;
                }
                h1, h2, h3, h4, h5, h6 {
                    margin-bottom: 0.5em;
                }
                h1, .h1 {
                    font-size: 1.75em;
                    @media (min-width: $screen-md-min) {
                        font-size: 2em;
                    }
                    @media (min-width: $screen-lg-min) {
                        font-size: 2.125em;
                    }
                }
                h2, .h2 {
                    font-size: 1.25em;
                    @media (min-width: $screen-md-min) {
                        font-size: 1.5em;
                    }
                    @media (min-width: $screen-lg-min) {
                        font-size: 1.75em;
                    }
                }
                h3, .h3 {
                    font-size: 1.125em;
                    @media (min-width: $screen-md-min) {
                        font-size: 1.25em;
                    }
                    @media (min-width: $screen-lg-min) {
                        font-size: 1.5em;
                    }
                }
                h4, .h4 {
                    font-size: 1em;
                    @media (min-width: $screen-md-min) {
                        font-size: 1.125em;
                    }
                    @media (min-width: $screen-lg-min) {
                        font-size: 1.25em;
                    }
                }
                h5, .h5 {
                    font-size: 1em;
                    @media (min-width: $screen-md-min) {
                        font-size: 1.125em;
                    }
                    @media (min-width: $screen-lg-min) {
                        font-size: 1.25em;
                    }
                }
                a {
                    text-decoration: none;
                    color: $darkblue;
                }
            }
            &-btn {
                margin: 0 0 1em 0;
                @media (min-width: $screen-md-min) {
                    margin: 0 0 2em 0;
                }
                .btn {
                    width: 90%;
                    margin: 0 auto;
                    @media (min-width: $screen-md-min) {
                        width: auto;
                    }
                }
            }
        }
    }
}

.two-column {
    position: relative;
    &-item {
        &-img {
            min-height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            &.img-align-top {
                background-position: center top;
            }
            &.img-align-bottom {
                background-position: center bottom;
            }
        }
        &-content {
            padding-top: 2em;
            padding-bottom: 2em;
            text-align: center;
            h2 {
                padding-left: 1em;
                padding-right: 1em;
                font-size: 1.5em;
                @media (min-width: $screen-md-min) {
                    margin-top: 0.75em;
                    font-size: 1.75em;
                }
                @media (min-width: $screen-lg-min) {
                    font-size: 2.125em;
                }
            }
            &-txt {
                padding: 1em;
                font-size: 1em;
                @media (min-width: $screen-md-min) {
                    padding: 1em 1.75em;
                }
                @media (min-width: $screen-lg-min) {
                    font-size: 1.125em;
                }
                ol {
                    margin-top: 1em;
                }
                a {
                    text-decoration: none;
                    color: $darkblue;
                }
            }
            &-btn {
                margin: 0 0 1em 0;
                @media (min-width: $screen-md-min) {
                    margin: 0 0 2em 0;
                }
                .btn {
                    width: 90%;
                    margin: 0 auto;
                    @media (min-width: $screen-md-min) {
                        width: auto;
                    }
                }
            }
        }
        &.btxt,
        &.ltrd {
            .container {
                position: relative;
            }
        }
        &.btxt {
            iframe {
                max-width: 100%;
            }
            .two-column-item-content {
                padding-top: 2em;
                padding-bottom: 0;
                @media (min-width: $screen-md-min) {
                    padding-bottom: 2.5em;
                }
            }
            .yt-embed {
                padding: 1em 0;
                p {
                    position: relative;
                    padding-bottom: 56.25%; /* 16:9 */
                    padding-top: 25px;
                    margin-bottom: 0;
                    height: 0;
                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        &.ltrd {
            .two-column-download {
                padding-top: 0;
                @media (min-width: $screen-md-min) {
                    padding-top: 3em;
                }
                &-header {
                    padding: 0.5em;
                    margin-bottom: 0.125em;
                    font-size: 1.5em;
                    text-align: left;
                    overflow: hidden;
                    span {
                        display: block;
                        width: 80%;
                        float: left;
                    }
                    @media (min-width: $screen-md-min) {
                        font-size: 1.75em;
                    }
                    @media (min-width: $screen-lg-min) {
                        font-size: 2.125em;
                    }
                }
                &-img {
                    display: block;
                    max-width: 20%;
                    float: right;
                }
                &-link {
                    display: block;
                    padding: 0.5em 2.5em 0.5em 1em;
                    margin-top: 0.25em;
                    font-size: 1em;
                    font-weight: 400;
                    text-align: left;
                    text-decoration: none;
                    background-color: $darkgreybg;
                    position: relative;
                    &:hover {
                        background-color: darken($darkgreybg,10%);
                    }
                    &:after {
                        content: "\f1c1";
                        font-family: $fontawesome;
                        position: absolute;
                        right: 1em;
                    }
                    @media (min-width: $screen-lg-min) {
                        font-size: 1.125em;
                    }
                }
            }
        }
        &-inset-img {
            padding-left: 0;
            padding-right: 0;
            @media (min-width: $screen-md-min) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .container-fluid {
        position: relative;
        z-index: 1;
    }
    .container {
        position: static;
        z-index: 2;
        top: 0;
        left: 0; right: 0;
        @media (min-width: $screen-md-min) {
            position: absolute;
        }
        &.inset {
            position: static;
            h2 {
                margin-top: 0;
                @media (min-width: $screen-md-min) {
                    margin-top: 0.75em;
                }
            }
            .two-column-item-inset-img {
                padding-top: 1em;
                padding-bottom: 1em;
                padding-left: 15px;
                padding-right: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (min-width: $screen-md-min) {
                    padding-top: 2em;
                    padding-bottom: 2em;
                }
            }
            .two-column-item-content {
                padding-top: 2em;
                padding-bottom: 2em;
            }
        }
        & > .row {
            align-items: center;
        }
    }
}

.three-column {
    padding-top: 1.5em;
    padding-bottom: 3em;
    &-item {
        &-content {
            text-align: center;
            margin-top: 1em;
            @media (min-width: $screen-md-min) {
                margin-top: 2em;
                margin-bottom: 2em;
                padding-bottom: 1.5em;
            }
            img {
                // max-width: 100px;
                // @media (min-width: $screen-md-min) {
                //     max-width: 120px;
                // }
            }
            &-txt {
                padding: 0 1em 0;
                margin-top: 0;
                @media (min-width: $screen-md-min) {
                    padding: 0 1em 1em;
                    margin-top: 1em;
                }
                a {
                    text-decoration: none;
                    color: $darkblue;
                }
            }
            h4 {
                margin-top: 0.875em;
                margin-bottom: 0.5em;
                font-weight: 600;
            }
            &-top,
            &-bottom {
                padding-top: 1em;
                text-align: center;
                @media (min-width: $screen-md-min) {
                    padding-top: 0;
                }
                h2 {
                    margin-top: 1em;
                    margin-bottom: 0.75em;
                }
                &-btn {
                    padding-top: 1em;
                    .btn {
                        width: 90%;
                        margin: 0 auto;
                        @media (min-width: $screen-md-min) {
                            width: auto;
                        }
                    }
                }
            }
            &:nth-child(3n-1) {
                @media (min-width: $screen-md-min) {
                    border-left: 1px solid $border;
                    border-right: 1px solid $border;
                }
                &.no-border {
                    border-left: 0;
                    border-right: 0;
                }
            }
        }
    }
}

.grid-section {
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
    h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1.5em;
        @media (min-width: $screen-md-min) {
            font-size: 1.75em;
        }
        @media (min-width: $screen-lg-min) {
            font-size: 2.125em;
        }
    }
    &-item {
        margin-bottom: 2em;
        text-align: center;
        &-image {
            img {
                width: 100%;
            }
        }
        &-content {
            padding: 1em 1.5em;
            h4 {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                padding-left: 1em;
                padding-right: 1em;
                font-size: 1.35em;
                @media (min-width: $screen-md-min) {
                    font-size: 1.5em;
                }
                @media (min-width: $screen-lg-min) {
                    font-size: 1.75em;
                }
            }
            &-txt {
                font-size: 0.9375em;
                @media (min-width: $screen-md-min) {
                    font-size: 1em;
                }
                @media (min-width: $screen-lg-min) {
                    font-size: 1.125em;
                }
                a {
                    text-decoration: none;
                    color: $darkblue;
                }
            }
        }
    }
}

.slick-carousel {
    &-nav {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                display: inline-block;
                margin: 0.5em;
                @media (min-width: $screen-md-min) {
                    margin: 1em;
                }
                a {
                    font-size: 1.5em;
                    color: $white;
                    @media (min-width: $screen-md-min) {
                        font-size: 3em;
                    }
                }
            }
        }
    }
}

.team-member-section {
    padding-top: 2em;
    text-align: center;
    h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1.75em;
        letter-spacing: 1px;
        @media (min-width: $screen-lg-min) {
            font-size: 2.125em;
        }
    }
    &-item {
        position: relative;
        .col-md-6 {
            position: relative;
            @media (min-width: $screen-lg-min) {
                position: static;
            }
            &.image-panel {
                align-self: flex-end;
            }
        }
        &-content-nav{
            display:inline-block;
        }
        &-image {
            position: static;
            bottom: 0;
            @media (min-width: $screen-lg-min) {
                position: absolute;
            }
            img {
                max-width: 100%;
                margin-top: 1em;
            }
        }
        & > .container {
            height: 100%;
            & > .row {
                height: 100%;
                align-items: center;
            }
        }
        &-content {
            text-align: center;
            h3 {
                margin-top: 0.5em;
                margin-bottom: 0;
                font-size: 1.25em;
                @media (min-width: $screen-md-min) {
                    margin-bottom: 0.5em;
                    font-size: 2.25em;
                }
                @media (min-width: $screen-lg-min) {
                    font-size: 3em;
                }
            }
            &-text {
                font-size: 0.875em;
                line-height: 1.3;
                @media (min-width: $screen-md-min) {
                    line-height: 1.4;
                    font-size: 1em;
                }
                @media (min-width: $screen-lg-min) {
                    font-size: 1.35em;
                }
                p {
                    display: inline;
                }
            }
        }
        &-position {
            font-size: 1em;
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 1px solid $white;
            @media (min-width: $screen-md-min) {
                padding-bottom: 16px;
                margin-bottom: 16px;
                font-size: 1.75em;
            }
            @media (min-width: $screen-lg-min) {
                font-size: 2.125em;
            }
        }
    }
}

.testimonials-section {
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
    h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1.75em;
        letter-spacing: 1px;
        @media (min-width: $screen-lg-min) {
            font-size: 2.125em;
        }
    }
    .slick-carousel-nav {
        ul {
            // we should always center the slick carousel nav
            text-align: center !important;
        }
        a {
            color: $white;
        }
    }
    &.white-bg,
    &.grey-bg {
        .slick-carousel-nav {
            a {
                color: $darkblue;
            }
        }
    }
    &-item {
        &-content {
            &-text {
                font-size: 1em;
                font-weight: 700;
                line-height: 1.75;
                @media (min-width: $screen-lg-min) {
                    font-size: 1.125em;
                }
            }
            &-name {
                font-size: 1.125em;
                @media (min-width: $screen-lg-min) {
                    font-size: 1.5em;
                }
            }
        }
    }
}

.prefooter {
    padding-top: 2em;
    padding-bottom: 1.5em;
    & > .container {
        & > .row {
            align-items: center;
        }
    }
    &-membership {
        text-align: right;
        &-items {
            display: inline-block;
            margin-left: 2em;
            max-width: 24%;
        }
    }
    &-mobile {
        width: 90%;
        margin: 0 auto;
        &-logo {
            display: block;
            padding-top: 1.5em;
            padding-bottom: 1em;
            img {
                width: 100%;
            }
        }
        .prefooter-membership-mobile {
            padding-top: 1em;
            padding-bottom: 1em;
            .prefooter-membership-items {
                margin-left: 0;
                max-width: 32.5%;
                text-align: center;
                img {
                    width: 80%;
                }
            }
        }
    }
    img{
        max-height:90px;
    }
}

.footer-menu {
    ul.menu {
        & > li {
            & > a {
                display: block;
                font-size: 1em;
                font-weight: 700;
                margin-bottom: 1em;
                @media (min-width: $screen-lg-min) {
                    font-size: 1.125em;
                }
            }
        }
    }
    a {
        font-size: 0.875em;
        font-weight: 500;
        text-decoration: none;
        line-height: 1;
    }
}
.footer-widget {
    padding-top: 0;
    padding-bottom: 1.5em;
    @media (min-width: $screen-md-min) {
        padding-top: 2em;
    }
    .btn {
        padding: 1em 0.875em;
        margin-top: 2em;
        width: 100%;
        font-size: 0.75em;
        line-height: 1.5;
        &:hover{
            color: $white;
        }
        @media (min-width: $screen-lg-min) {
            font-size: 0.8125em;
        }
    }
    .widgettitle {
        margin-bottom: 0.5em;
        font-size: 1.25em;
        font-weight: 600;
        @media (min-width: $screen-md-min) {
            margin-bottom: 0.875em;
            font-size: 1em;
        }
        @media (min-width: $screen-lg-min) {
            font-size: 1.125em;
        }
    }
    a {
        font-weight: 600;
        &:hover {
            color: darken($txtcolor,20%);
        }
    }
}

.blog-content,
.contact-us {
    h1 {
        font-size: 1.5em;
        line-height: 1.235em;
        margin-bottom: .618em;
        @media (min-width: $screen-md-min) {
            font-size: 1.75em;
        }
        @media (min-width: $screen-lg-min) {
            font-size: 2.125em;
        }
    }
    h2 {
        font-size: 1.25em;
        line-height: 1.348em;
        margin-bottom: .913em;
        @media (min-width: $screen-md-min) {
            font-size: 1.438em;
        }
    }
    h3 {
        font-size: 1em;
        line-height: 1.3em;
        margin-bottom: 1.105em;
        @media (min-width: $screen-md-min) {
            font-size: 1.188em;
        }
    }
    p {
        margin-bottom: 1.618em;
    }
}

.sidebar {
    padding-left: 1em;
    &-heading {
        font-size: 1.438em;
        line-height: 1.348em;
        margin-bottom: .913em;
    }
    &-list {
        padding-top: 1em;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid $border;
            li {
                border-top: 1px solid $border;
                a {
                    display: block;
                    padding: 0.5em;
                }
            }
        }
    }
}

.content-heading,
.sidebar {
    padding-top: 2.5em;
}

.blog-content {
    a {
        text-decoration: none;
        color: $darkblue;
        &:hover {
            color: darken($darkblue,10%);
        }
    }
    .btn {
        &.white-txt {
            color: $white;
        }
    }
    .post {
        &-title {
            font-size: 1.25em;
            @media (min-width: $screen-md-min) {
                font-size: 1.438em;
            }
        }
        &-meta {
            font-size: 0.875em;
        }
        &-image {
            margin-bottom: 1em;
            img {
                width: 100%;
                display: block;
                border: 1px solid $border;
            }
        }
        &-content {
            p {
                font-size: 0.9375em;
            }
        }
        &-btn {
            text-align: left;
            @media (min-width: $screen-md-min) {
                text-align: right;
            }
            .btn {
                width: 100%;
                @media (min-width: $screen-md-min) {
                    width: auto;
                }
            }
        }
        &-divider {
            display: block;
            height: 1px;
            background: #ddd;
            width: 50%;
            margin: 1.5em auto;
            @media (min-width: $screen-md-min) {
                margin: 3em auto;
            }
        }
        &-navigation {
            margin-top: 2em;
            padding-top: 1.5em;
            text-align: center;
            border-top: 1px solid $border;
            .page-numbers {
                display: inline-block;
                padding: 0.125em 0.5em;
                border: 1px solid $border;
                border-radius: 2px;
                &.current {
                    background-color: $darkblue;
                    color: $white;
                }
            }
        }
    }
}
.contact-us {
    .contact-us-cta {
        margin-top: 0;
        margin-bottom: 1em;
        @media (min-width: $screen-md-min) {
            margin-top: 2.5em;
        }
        a {
            position: relative;
            padding: 1.5em 3em 1.5em 1em;
            display: block;
            text-decoration: none;
            background-color: $darkblue;
            color: $white;
            &:after {
                content: "\f105";
                font-family: $fontawesome;
                display: inline-block;
                font-size: 3em;
                position: absolute;
                right: 0.25em;
                top: 0.5em;
            }
            strong, b {
                font-size: 1.4375em;
                font-weight: 600;
                &:before {
                    content: "\f095";
                    display: inline-block;
                    font-size: 0.875em;
                    font-family: $fontawesome;
                    margin: 0 0.25em 0.25em 0;
                }
            }
            &:hover {
                background-color: darken($darkblue,10%);
                color: $white;
            }
        }
    }
    hr {
        width: 40%;
        margin: 2em auto;
    }
    .main-location-item,
    .additional-location-item {
        a:not(.btn) {
            font-weight: 400;
            text-decoration: none;
            color: $darkblue;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
            &:hover {
                color: darken($darkblue,10%);
            }
        }
    }
    .main-location-item {
        h2 {
            color: $darkblue;
        }
        &-map {
            iframe {
                width: 100%;
            }
        }
        &-address,
        &-button,
        &-hours {
            margin-bottom: 1em;
        }
        &-address,
        &-hours {
            p {
                margin-bottom: 0;
            }
        }
        &-hours,
        &-phone,
        &-fax,
        &-support,
        &-email {
            span {
                display: inline-block;
                width: 150px;
                font-weight: 600;
            }
        }
        &-email {
            margin-bottom: 1.5em;
        }
        .btn {
            width: 100%;
        }
        &-address,
        &-hours,
        &-phone,
        &-fax,
        &-support,
        &-email {
            font-size: 0.9375em;
            @media (min-width: $screen-md-min) {
                font-size: 1em;
            }
        }

    }
    .additional-location-item {
        margin-bottom: 1.5em;
        h2,
        h3 {
            color: $darkblue;
        }
        p {
            font-size: 0.9375em;
            @media (min-width: $screen-md-min) {
                font-size: 1em;
            }
        }
    }
}

.search-form {
    .search-field {
        width: 24em;
        padding-left: 1em;
        padding-right: 1em;
        max-width: 50%;
        line-height: 2.75em;
        border: 1px solid $border;
        float: left;
        @media (min-width: $screen-md-min) {
            max-width: 80%;
            line-height: 2.8em;
        }
        @media (min-width: $screen-lg-min) {
            max-width: 80%;
            line-height: 3.125em;
        }
    }
    .search-submit {
        margin-top: 0;
        float: left;
        @media (min-width: $screen-md-min) {
            max-width: 20%;
        }
    }
}
.search-result {
    h1 {
        margin-bottom: 1em;
    }
    &-item {
        h2 {
            font-size: 1.125em;
            @media (min-width: $screen-md-min) {
                font-size: 1.25em;
            }
            @media (min-width: $screen-lg-min) {
                font-size: 1.5em;
            }
            a {
                text-decoration: none;
                color: $darkblue;
            }
        }
    }
    .post-divider {
        display: block;
        height: 1px;
        background: #ddd;
        width: 50%;
        margin: 1.5em auto;
        @media (min-width: $screen-md-min) {
            margin: 3em auto;
        }
    }
    .navigation.pagination {
        margin-top: 2em;
        margin-bottom: 2em;
        text-align: center;
        border-radius: 0;
        .nav-links {
            width: 100%;
        }
        .page-numbers {
            display: inline-block;
            padding: 0.125em 0.5em;
            text-decoration: none;
            border: 1px solid $border;
            border-radius: 2px;
            color: $darkblue;
            &.current {
                background-color: $darkblue;
                color: $white;
            }
        }
    }
}

.footer-widget {
    display: none;
    @media (min-width: $screen-md-min) {
        display: block;
    }
    &.footer-details {
        display: block;
        text-align: center;
        margin-top: 1em;
        @media (min-width: $screen-md-min) {
            margin-top: 0;
            text-align: left;
        }
        .btn {
            display: block;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            @media (min-width: $screen-md-min) {
                display: inline-block;
                width: 100%;
            }
        }
    }
}

.legal {
    padding-top: 1.5em;
    padding-bottom: 4em;
    text-align: center;
    font-size: 0.75em;
    @media (min-width: $screen-lg-min) {
        font-size: 0.875em;
    }
    p {
        span {
            display: inline-block;
            @media (min-width: $screen-md-min) {
                display: block;
            }
        }
    }
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 99;
    a {
        display: block;
        padding: 1.125em 2em;
        width: 100%;
        background-color: $lightblue;
        color: $white;
    }
}
