/* @import must be at top of file, otherwise CSS will not work */
@import url("//fonts.googleapis.com/css?family=Roboto:400,500,700");
/* =WordPress Styles
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 20px auto 20px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
  clear: both; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 10px 0 0 0; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

html, body {
  height: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #656f7f; }

body.admin-bar .header.fixed {
  top: 32px; }

body.admin-bar .header-mobile.fixed {
  top: 0; }

body .header {
  transition: 0.1s all;
  background-color: #fff; }
  body .header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; }

a {
  font-weight: 600;
  text-decoration: underline;
  color: #656f7f;
  transition: 0.3s all; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

h1, .h1 {
  font-size: 1.75em; }
  @media (min-width: 768px) {
    h1, .h1 {
      font-size: 2.125em; } }
  @media (min-width: 992px) {
    h1, .h1 {
      font-size: 2.5em; } }

h2, .h2 {
  font-size: 1.5em; }
  @media (min-width: 768px) {
    h2, .h2 {
      font-size: 1.75em; } }
  @media (min-width: 992px) {
    h2, .h2 {
      font-size: 2.125em; } }

h3, .h3 {
  font-size: 1.25em; }
  @media (min-width: 768px) {
    h3, .h3 {
      font-size: 1.5em; } }
  @media (min-width: 992px) {
    h3, .h3 {
      font-size: 1.75em; } }

h4, .h4 {
  font-size: 1.125em; }
  @media (min-width: 768px) {
    h4, .h4 {
      font-size: 1.25em; } }
  @media (min-width: 992px) {
    h4, .h4 {
      font-size: 1.5em; } }

h5, .h5 {
  font-size: 1em; }
  @media (min-width: 768px) {
    h5, .h5 {
      font-size: 1.125em; } }
  @media (min-width: 992px) {
    h5, .h5 {
      font-size: 1.5em; } }

blockquote {
  position: relative;
  font-size: 1.125em;
  line-height: 1.618em;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  border-style: solid;
  border-color: #656f7f;
  border-width: 10px 0;
  padding: 1.5em 2em; }

.hr {
  display: block;
  height: 3px;
  background-color: #656f7f; }
  @media (min-width: 768px) {
    .hr {
      height: 6px; } }

@media (min-width: 768px) {
  .no-margin-top {
    margin-top: 0 !important; } }

table {
  overflow-x: auto;
  max-width: 100%; }
  table.alignleft {
    float: none;
    margin-bottom: 2em; }
  table th {
    padding: 0.5em 0.25em;
    font-size: 0.875em;
    font-weight: 700;
    text-align: left; }
    @media (min-width: 768px) {
      table th {
        font-size: 1em; } }
  table td {
    padding: 0.5em 0.25em;
    font-size: 0.75em;
    text-align: left;
    border-bottom: 1px solid #656f7f; }
    @media (min-width: 768px) {
      table td {
        font-size: 0.9375em; } }

.fancybox-new-close {
  display: inline-block;
  padding: 0.5em 1em;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #005dab;
  color: #fff; }
  .fancybox-new-close:hover {
    background-color: #004178;
    color: white; }

.btn,
input[type="submit"] {
  margin-top: 0.5em;
  padding: 0.875em 2em;
  max-width: 100%;
  font-size: 0.875em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  white-space: normal; }
  @media (min-width: 992px) {
    .btn,
    input[type="submit"] {
      font-size: 1em; } }
  .btn:after,
  input[type="submit"]:after {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: 5px;
    font-weight: 900; }
  .btn.green-bg:hover,
  input[type="submit"].green-bg:hover {
    background-color: #48af68; }
  .btn.blue-bg:hover,
  input[type="submit"].blue-bg:hover {
    background-color: #005a8c; }
  .btn.darkblue-bg:hover,
  input[type="submit"].darkblue-bg:hover {
    background-color: #004178; }
  .btn.purple-bg:hover,
  input[type="submit"].purple-bg:hover {
    background-color: #9a55a8; }
  .btn.yellow-bg:hover,
  input[type="submit"].yellow-bg:hover {
    background-color: #d3a800; }
  .btn.grey-bg:hover,
  input[type="submit"].grey-bg:hover {
    background-color: #d8d8dc; }
  .btn.darkgrey-bg:hover,
  input[type="submit"].darkgrey-bg:hover {
    background-color: #4e5663; }
  .btn.white-bg:hover,
  input[type="submit"].white-bg:hover {
    background-color: #f2f2f2; }

input[type="submit"] {
  border: 0;
  background-color: #005dab;
  color: #fff; }
  input[type="submit"]:hover {
    color: #fff;
    background-color: #004178; }

.green-bg {
  background: #69c184; }
  .green-bg:not(.btn) {
    background: #00b08c;
    background: -moz-linear-gradient(top, #69c184 0%, #00b08c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69c184), color-stop(100%, #00b08c));
    background: -webkit-linear-gradient(top, #69c184 0%, #00b08c 100%);
    background: -o-linear-gradient(top, #69c184 0%, #00b08c 100%);
    background: linear-gradient(to bottom, #69c184 0%, #00b08c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#69c184, endColorstr=#00b08c); }

.blue-bg {
  background: #007bbf; }
  .blue-bg:not(.btn) {
    background: #39b7ea;
    background: -moz-linear-gradient(top, #007bbf 0%, #39b7ea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #007bbf), color-stop(100%, #39b7ea));
    background: -webkit-linear-gradient(top, #007bbf 0%, #39b7ea 100%);
    background: -o-linear-gradient(top, #007bbf 0%, #39b7ea 100%);
    background: linear-gradient(to bottom, #007bbf 0%, #39b7ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#007bbf, endColorstr=#39b7ea); }

.darkblue-bg {
  background: #005dab; }
  .darkblue-bg:not(.btn) {
    background: #004178;
    background: -moz-linear-gradient(top, #005dab 0%, #004178 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005dab), color-stop(100%, #004178));
    background: -webkit-linear-gradient(top, #005dab 0%, #004178 100%);
    background: -o-linear-gradient(top, #005dab 0%, #004178 100%);
    background: linear-gradient(to bottom, #005dab 0%, #004178 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#005dab, endColorstr=#004178); }

.purple-bg {
  background: #ae76ba; }
  .purple-bg:not(.btn) {
    background: #9a55a8;
    background: -moz-linear-gradient(top, #ae76ba 0%, #9a55a8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ae76ba), color-stop(100%, #9a55a8));
    background: -webkit-linear-gradient(top, #ae76ba 0%, #9a55a8 100%);
    background: -o-linear-gradient(top, #ae76ba 0%, #9a55a8 100%);
    background: linear-gradient(to bottom, #ae76ba 0%, #9a55a8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ae76ba, endColorstr=#9a55a8); }

.yellow-bg {
  background: #ffcd07; }
  .yellow-bg:not(.btn) {
    background: #edbd00;
    background: -moz-linear-gradient(top, #ffcd07 0%, #edbd00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcd07), color-stop(100%, #edbd00));
    background: -webkit-linear-gradient(top, #ffcd07 0%, #edbd00 100%);
    background: -o-linear-gradient(top, #ffcd07 0%, #edbd00 100%);
    background: linear-gradient(to bottom, #ffcd07 0%, #edbd00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffcd07, endColorstr=#edbd00); }

.grey-bg {
  background: #f3f3f4; }
  .grey-bg:not(.btn) {
    background: #f0f0f2;
    background: -moz-linear-gradient(top, #f3f3f4 0%, #f0f0f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f4), color-stop(100%, #f0f0f2));
    background: -webkit-linear-gradient(top, #f3f3f4 0%, #f0f0f2 100%);
    background: -o-linear-gradient(top, #f3f3f4 0%, #f0f0f2 100%);
    background: linear-gradient(to bottom, #f3f3f4 0%, #f0f0f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f3f3f4, endColorstr=#f0f0f2); }

.darkgrey-bg {
  background: #656f7f; }
  .darkgrey-bg:not(.btn) {
    background: #636d7c;
    background: -moz-linear-gradient(top, #656f7f 0%, #636d7c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #656f7f), color-stop(100%, #636d7c));
    background: -webkit-linear-gradient(top, #656f7f 0%, #636d7c 100%);
    background: -o-linear-gradient(top, #656f7f 0%, #636d7c 100%);
    background: linear-gradient(to bottom, #656f7f 0%, #636d7c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#656f7f, endColorstr=#636d7c); }

.white-bg {
  background-color: #fff; }

.transparent-bg {
  background-color: transparent; }

.green-txt {
  color: #69c184; }
  .green-txt:hover {
    color: #69c184; }

.blue-txt {
  color: #007bbf; }
  .blue-txt:hover {
    color: #007bbf; }

.darkblue-txt {
  color: #005dab; }
  .darkblue-txt:hover {
    color: #005dab; }

.purple-txt {
  color: #ae76ba; }
  .purple-txt:hover {
    color: #ae76ba; }

.yellow-txt {
  color: #ffcd07; }
  .yellow-txt:hover {
    color: #ffcd07; }

.grey-txt {
  color: #656f7f; }
  .grey-txt:hover {
    color: #656f7f; }

.white-txt {
  color: #fff; }
  .white-txt:hover {
    color: #fff; }

ol {
  list-style: none;
  position: relative;
  counter-reset: ol-counter; }
  ol li {
    counter-increment: ol-counter;
    margin-bottom: 0.5em; }
    ol li:before {
      position: absolute;
      display: inline-block;
      padding: .3em .5em;
      left: 0.25em;
      margin-top: 0.125em;
      font-size: 0.875em;
      line-height: 1;
      border-radius: 50%;
      content: counter(ol-counter);
      color: #fff;
      background-color: #005dab; }

.top-menu,
.main-menu,
.footer-menu {
  padding: 0;
  margin: 0;
  list-style: none; }
  .top-menu ul,
  .main-menu ul,
  .footer-menu ul {
    padding: 0;
    margin: 0;
    list-style: none; }

.top-bar {
  line-height: 2.5;
  text-align: right;
  background-color: #f3f3f4; }
  .top-bar .top-menu {
    display: inline-block; }
    .top-bar .top-menu a {
      font-size: 0.8125em;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1; }
    .top-bar .top-menu > li {
      display: inline-block;
      margin-left: 1em; }
      .top-bar .top-menu > li.menu-item-has-children {
        position: relative; }
        .top-bar .top-menu > li.menu-item-has-children:after {
          display: inline-block;
          margin-left: 5px;
          content: "\f107";
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
          font-size: 0.75em; }
        .top-bar .top-menu > li.menu-item-has-children:hover .sub-menu {
          display: block; }
    .top-bar .top-menu .sub-menu {
      display: none;
      width: 125px;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      position: absolute;
      left: -0.9em;
      text-align: left;
      z-index: 2;
      background-color: #f3f3f4; }
      .top-bar .top-menu .sub-menu a {
        display: block;
        padding: 0.75em 1em; }
  .top-bar .sm-link {
    display: inline-block;
    position: relative;
    bottom: -4px;
    margin-left: 1em;
    margin-right: 0.5em;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1; }
    .top-bar .sm-link span {
      padding: 3px; }
      .top-bar .sm-link span.yt a:hover {
        color: #f00; }
      .top-bar .sm-link span.tw a:hover {
        color: #34B8EA; }

.main-menu {
  text-align: center;
  margin-top: 1em; }
  .main-menu a {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    padding: 1em 0.5em; }
    @media (min-width: 992px) {
      .main-menu a {
        padding: 1em; } }
    .main-menu a:hover {
      color: #007bbf; }
  .main-menu > li {
    display: inline-block; }
    .main-menu > li.menu-item-has-children {
      position: relative; }
      .main-menu > li.menu-item-has-children.current-menu-item, .main-menu > li.menu-item-has-children:hover {
        background-color: #007bbf; }
        .main-menu > li.menu-item-has-children.current-menu-item:after, .main-menu > li.menu-item-has-children:hover:after {
          color: #fff; }
        .main-menu > li.menu-item-has-children.current-menu-item > a, .main-menu > li.menu-item-has-children:hover > a {
          color: #fff; }
      .main-menu > li.menu-item-has-children:hover .sub-menu {
        display: block; }
      .main-menu > li.menu-item-has-children:after {
        display: inline-block;
        content: "\f107";
        font-family: "Font Awesome 5 Free";
        margin-left: 0em;
        margin-right: 1em;
        font-weight: 700;
        font-size: 0.75em; }
  .main-menu .sub-menu {
    display: none;
    min-width: 200px;
    position: absolute;
    left: 0;
    top: auto;
    text-align: left;
    background-color: #007bbf;
    z-index: 9; }
    .main-menu .sub-menu a {
      display: block;
      color: #fff; }
      .main-menu .sub-menu a:hover, .current-menu-item .main-menu .sub-menu a {
        background-color: #fff;
        color: #007bbf; }
    .main-menu .sub-menu li {
      border-bottom: 1px solid #fff; }
      .main-menu .sub-menu li:last-child {
        border-bottom: 0; }
      .main-menu .sub-menu li.current-menu-item > a {
        color: #007bbf;
        background-color: #fff; }

.mobile-menu {
  position: static; }
  .mobile-menu .fas {
    width: 100%;
    text-align: right;
    font-size: 2em;
    color: #005dab; }

.mobile-main-menu {
  position: absolute;
  opacity: 0;
  padding: 0.5em 1.5em 1em;
  margin: 0;
  left: 0;
  list-style: none;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  transition: 0.3s all;
  height: 0;
  top: -9999px;
  overflow-y: auto; }
  .mobile-main-menu-wrapper {
    position: relative; }
  .mobile-main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .mobile-main-menu a {
    text-transform: uppercase;
    text-decoration: none; }
  .mobile-main-menu > li {
    border-bottom: 1px solid #656f7f; }
    .mobile-main-menu > li.menu-item-has-children {
      position: relative; }
      .mobile-main-menu > li.menu-item-has-children .fas {
        display: inline-block;
        width: 2em;
        text-align: center;
        margin-left: 5px;
        font-size: 1em;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 3em; }
    .mobile-main-menu > li > a {
      display: block;
      padding: 0.75em 2em 0.75em 0;
      cursor: pointer; }
    .mobile-main-menu > li:hover > a {
      color: #005dab; }
    .mobile-main-menu > li:hover:after {
      color: #005dab; }
    .mobile-main-menu > li .sub-menu {
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      border-top: 1px solid #f3f3f4; }
      .mobile-main-menu > li .sub-menu li a {
        display: block;
        padding: 0.5em 0 0.5em 1em; }
  .mobile-main-menu li {
    display: block; }
  .mobile-main-menu .sub-menu {
    display: none; }

.header-mobile {
  position: relative; }

.header {
  padding-top: 1em; }
  .header > .rainbow-hr {
    margin-top: 1em; }
  .header > .container > .row {
    align-items: center; }
  .header-cta {
    text-align: center; }
    .header-cta .btn {
      padding: 0.875em 1.5em;
      font-size: 0.7em; }
      @media (min-width: 992px) {
        .header-cta .btn {
          font-size: 0.875em; } }

.banner {
  position: relative; }
  .banner-overlay:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.2); }
  .banner-overlay.banner-withimage:before {
    background: transparent; }
  .banner-item {
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    @media (min-width: 768px) {
      .banner-item {
        height: 500px; } }
    @media (min-width: 992px) {
      .banner-item {
        height: 600px; } }
    .banner-item.align-top {
      background-position: top; }
    .banner-item.align-bottom {
      background-position: bottom; }
    .banner-item > .container {
      height: 100%; }
      .banner-item > .container > .row {
        height: 100%;
        align-items: center;
        text-align: center; }
      .banner-item > .container .align-top {
        align-self: flex-start;
        padding-top: 2em; }
      .banner-item > .container .align-bottom {
        align-self: flex-end;
        padding-bottom: 2em; }
    .banner-item-content h1 {
      margin-bottom: 0.5em;
      font-size: 1.75em;
      font-weight: 300;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
      .banner-item-content h1.shadow-boost {
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        font-weight: 800; }
      @media (min-width: 768px) {
        .banner-item-content h1 {
          font-size: 2.25em;
          letter-spacing: 3px; } }
      @media (min-width: 992px) {
        .banner-item-content h1 {
          font-size: 3.25em; } }
    .banner-item-content-txt {
      font-size: 0.9375em;
      margin-bottom: 1em;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
      @media (min-width: 768px) {
        .banner-item-content-txt {
          font-size: 1.125em; } }
      @media (min-width: 992px) {
        .banner-item-content-txt {
          font-size: 1.375em; } }
      .banner-item-content-txt .btn {
        font-size: 1em; }
        @media (min-width: 768px) {
          .banner-item-content-txt .btn {
            font-size: 0.875em; } }
    .banner-item-icons-items {
      display: inline-block;
      margin: 0 0.25em; }
      .banner-item-icons-items img {
        max-width: 60px; }
        @media (min-width: 768px) {
          .banner-item-icons-items img {
            max-width: 90px; } }
        @media (min-width: 992px) {
          .banner-item-icons-items img {
            max-width: 120px; } }
    .banner-item.withimage {
      padding-top: 3em;
      height: 450px; }
      @media (min-width: 768px) {
        .banner-item.withimage {
          height: 500px; } }
      @media (min-width: 992px) {
        .banner-item.withimage {
          height: 600px; } }
      .banner-item.withimage > .container {
        height: 100%; }
        .banner-item.withimage > .container > .row {
          height: 100%;
          align-items: flex-start;
          text-align: center; }

.heading-section-item > .container > .row {
  align-items: center; }

.heading-section-item h2 {
  margin: 0;
  padding: 1.125em 0.25em;
  font-size: 1.3em; }
  @media (min-width: 992px) {
    .heading-section-item h2 {
      font-size: 1.75em; } }
  @media (min-width: 992px) {
    .heading-section-item h2 {
      font-size: 2.125em; } }

.heading-section-item img {
  max-width: 145px;
  width: 100%; }

.flexible-content ol,
.flexible-content ul {
  text-align: left !important; }
  @media (min-width: 768px) {
    .flexible-content ol.two-column,
    .flexible-content ul.two-column {
      -webkit-columns: 2;
      columns: 2; } }

.one-column-item {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center; }
  .one-column-item h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em; }
    @media (min-width: 768px) {
      .one-column-item h2 {
        font-size: 1.75em; } }
    @media (min-width: 992px) {
      .one-column-item h2 {
        font-size: 2.125em; } }
  .one-column-item-content-txt {
    font-size: 1em; }
    @media (min-width: 992px) {
      .one-column-item-content-txt {
        font-size: 1.125em; } }
    .one-column-item-content-txt h1, .one-column-item-content-txt h2, .one-column-item-content-txt h3, .one-column-item-content-txt h4, .one-column-item-content-txt h5, .one-column-item-content-txt h6 {
      margin-bottom: 0.5em; }
    .one-column-item-content-txt h1, .one-column-item-content-txt .h1 {
      font-size: 1.75em; }
      @media (min-width: 768px) {
        .one-column-item-content-txt h1, .one-column-item-content-txt .h1 {
          font-size: 2em; } }
      @media (min-width: 992px) {
        .one-column-item-content-txt h1, .one-column-item-content-txt .h1 {
          font-size: 2.125em; } }
    .one-column-item-content-txt h2, .one-column-item-content-txt .h2 {
      font-size: 1.25em; }
      @media (min-width: 768px) {
        .one-column-item-content-txt h2, .one-column-item-content-txt .h2 {
          font-size: 1.5em; } }
      @media (min-width: 992px) {
        .one-column-item-content-txt h2, .one-column-item-content-txt .h2 {
          font-size: 1.75em; } }
    .one-column-item-content-txt h3, .one-column-item-content-txt .h3 {
      font-size: 1.125em; }
      @media (min-width: 768px) {
        .one-column-item-content-txt h3, .one-column-item-content-txt .h3 {
          font-size: 1.25em; } }
      @media (min-width: 992px) {
        .one-column-item-content-txt h3, .one-column-item-content-txt .h3 {
          font-size: 1.5em; } }
    .one-column-item-content-txt h4, .one-column-item-content-txt .h4 {
      font-size: 1em; }
      @media (min-width: 768px) {
        .one-column-item-content-txt h4, .one-column-item-content-txt .h4 {
          font-size: 1.125em; } }
      @media (min-width: 992px) {
        .one-column-item-content-txt h4, .one-column-item-content-txt .h4 {
          font-size: 1.25em; } }
    .one-column-item-content-txt h5, .one-column-item-content-txt .h5 {
      font-size: 1em; }
      @media (min-width: 768px) {
        .one-column-item-content-txt h5, .one-column-item-content-txt .h5 {
          font-size: 1.125em; } }
      @media (min-width: 992px) {
        .one-column-item-content-txt h5, .one-column-item-content-txt .h5 {
          font-size: 1.25em; } }
    .one-column-item-content-txt a {
      text-decoration: none;
      color: #005dab; }
  .one-column-item-content-btn {
    margin: 0 0 1em 0; }
    @media (min-width: 768px) {
      .one-column-item-content-btn {
        margin: 0 0 2em 0; } }
    .one-column-item-content-btn .btn {
      width: 90%;
      margin: 0 auto; }
      @media (min-width: 768px) {
        .one-column-item-content-btn .btn {
          width: auto; } }

.two-column {
  position: relative; }
  .two-column-item-img {
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .two-column-item-img.img-align-top {
      background-position: center top; }
    .two-column-item-img.img-align-bottom {
      background-position: center bottom; }
  .two-column-item-content {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center; }
    .two-column-item-content h2 {
      padding-left: 1em;
      padding-right: 1em;
      font-size: 1.5em; }
      @media (min-width: 768px) {
        .two-column-item-content h2 {
          margin-top: 0.75em;
          font-size: 1.75em; } }
      @media (min-width: 992px) {
        .two-column-item-content h2 {
          font-size: 2.125em; } }
    .two-column-item-content-txt {
      padding: 1em;
      font-size: 1em; }
      @media (min-width: 768px) {
        .two-column-item-content-txt {
          padding: 1em 1.75em; } }
      @media (min-width: 992px) {
        .two-column-item-content-txt {
          font-size: 1.125em; } }
      .two-column-item-content-txt ol {
        margin-top: 1em; }
      .two-column-item-content-txt a {
        text-decoration: none;
        color: #005dab; }
    .two-column-item-content-btn {
      margin: 0 0 1em 0; }
      @media (min-width: 768px) {
        .two-column-item-content-btn {
          margin: 0 0 2em 0; } }
      .two-column-item-content-btn .btn {
        width: 90%;
        margin: 0 auto; }
        @media (min-width: 768px) {
          .two-column-item-content-btn .btn {
            width: auto; } }
  .two-column-item.btxt .container, .two-column-item.ltrd .container {
    position: relative; }
  .two-column-item.btxt iframe {
    max-width: 100%; }
  .two-column-item.btxt .two-column-item-content {
    padding-top: 2em;
    padding-bottom: 0; }
    @media (min-width: 768px) {
      .two-column-item.btxt .two-column-item-content {
        padding-bottom: 2.5em; } }
  .two-column-item.btxt .yt-embed {
    padding: 1em 0; }
    .two-column-item.btxt .yt-embed p {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      padding-top: 25px;
      margin-bottom: 0;
      height: 0; }
      .two-column-item.btxt .yt-embed p iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .two-column-item.ltrd .two-column-download {
    padding-top: 0; }
    @media (min-width: 768px) {
      .two-column-item.ltrd .two-column-download {
        padding-top: 3em; } }
    .two-column-item.ltrd .two-column-download-header {
      padding: 0.5em;
      margin-bottom: 0.125em;
      font-size: 1.5em;
      text-align: left;
      overflow: hidden; }
      .two-column-item.ltrd .two-column-download-header span {
        display: block;
        width: 80%;
        float: left; }
      @media (min-width: 768px) {
        .two-column-item.ltrd .two-column-download-header {
          font-size: 1.75em; } }
      @media (min-width: 992px) {
        .two-column-item.ltrd .two-column-download-header {
          font-size: 2.125em; } }
    .two-column-item.ltrd .two-column-download-img {
      display: block;
      max-width: 20%;
      float: right; }
    .two-column-item.ltrd .two-column-download-link {
      display: block;
      padding: 0.5em 2.5em 0.5em 1em;
      margin-top: 0.25em;
      font-size: 1em;
      font-weight: 400;
      text-align: left;
      text-decoration: none;
      background-color: #656f7f;
      position: relative; }
      .two-column-item.ltrd .two-column-download-link:hover {
        background-color: #4e5663; }
      .two-column-item.ltrd .two-column-download-link:after {
        content: "\f1c1";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        right: 1em; }
      @media (min-width: 992px) {
        .two-column-item.ltrd .two-column-download-link {
          font-size: 1.125em; } }
  .two-column-item-inset-img {
    padding-left: 0;
    padding-right: 0; }
    @media (min-width: 768px) {
      .two-column-item-inset-img {
        padding-left: 15px;
        padding-right: 15px; } }
  .two-column .container-fluid {
    position: relative;
    z-index: 1; }
  .two-column .container {
    position: static;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0; }
    @media (min-width: 768px) {
      .two-column .container {
        position: absolute; } }
    .two-column .container.inset {
      position: static; }
      .two-column .container.inset h2 {
        margin-top: 0; }
        @media (min-width: 768px) {
          .two-column .container.inset h2 {
            margin-top: 0.75em; } }
      .two-column .container.inset .two-column-item-inset-img {
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media (min-width: 768px) {
          .two-column .container.inset .two-column-item-inset-img {
            padding-top: 2em;
            padding-bottom: 2em; } }
      .two-column .container.inset .two-column-item-content {
        padding-top: 2em;
        padding-bottom: 2em; }
    .two-column .container > .row {
      align-items: center; }

.three-column {
  padding-top: 1.5em;
  padding-bottom: 3em; }
  .three-column-item-content {
    text-align: center;
    margin-top: 1em; }
    @media (min-width: 768px) {
      .three-column-item-content {
        margin-top: 2em;
        margin-bottom: 2em;
        padding-bottom: 1.5em; } }
    .three-column-item-content-txt {
      padding: 0 1em 0;
      margin-top: 0; }
      @media (min-width: 768px) {
        .three-column-item-content-txt {
          padding: 0 1em 1em;
          margin-top: 1em; } }
      .three-column-item-content-txt a {
        text-decoration: none;
        color: #005dab; }
    .three-column-item-content h4 {
      margin-top: 0.875em;
      margin-bottom: 0.5em;
      font-weight: 600; }
    .three-column-item-content-top, .three-column-item-content-bottom {
      padding-top: 1em;
      text-align: center; }
      @media (min-width: 768px) {
        .three-column-item-content-top, .three-column-item-content-bottom {
          padding-top: 0; } }
      .three-column-item-content-top h2, .three-column-item-content-bottom h2 {
        margin-top: 1em;
        margin-bottom: 0.75em; }
      .three-column-item-content-top-btn, .three-column-item-content-bottom-btn {
        padding-top: 1em; }
        .three-column-item-content-top-btn .btn, .three-column-item-content-bottom-btn .btn {
          width: 90%;
          margin: 0 auto; }
          @media (min-width: 768px) {
            .three-column-item-content-top-btn .btn, .three-column-item-content-bottom-btn .btn {
              width: auto; } }
    @media (min-width: 768px) {
      .three-column-item-content:nth-child(3n-1) {
        border-left: 1px solid #656f7f;
        border-right: 1px solid #656f7f; } }
    .three-column-item-content:nth-child(3n-1).no-border {
      border-left: 0;
      border-right: 0; }

.grid-section {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center; }
  .grid-section h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em; }
    @media (min-width: 768px) {
      .grid-section h2 {
        font-size: 1.75em; } }
    @media (min-width: 992px) {
      .grid-section h2 {
        font-size: 2.125em; } }
  .grid-section-item {
    margin-bottom: 2em;
    text-align: center; }
    .grid-section-item-image img {
      width: 100%; }
    .grid-section-item-content {
      padding: 1em 1.5em; }
      .grid-section-item-content h4 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1.35em; }
        @media (min-width: 768px) {
          .grid-section-item-content h4 {
            font-size: 1.5em; } }
        @media (min-width: 992px) {
          .grid-section-item-content h4 {
            font-size: 1.75em; } }
      .grid-section-item-content-txt {
        font-size: 0.9375em; }
        @media (min-width: 768px) {
          .grid-section-item-content-txt {
            font-size: 1em; } }
        @media (min-width: 992px) {
          .grid-section-item-content-txt {
            font-size: 1.125em; } }
        .grid-section-item-content-txt a {
          text-decoration: none;
          color: #005dab; }

.slick-carousel-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .slick-carousel-nav ul li {
    display: inline-block;
    margin: 0.5em; }
    @media (min-width: 768px) {
      .slick-carousel-nav ul li {
        margin: 1em; } }
    .slick-carousel-nav ul li a {
      font-size: 1.5em;
      color: #fff; }
      @media (min-width: 768px) {
        .slick-carousel-nav ul li a {
          font-size: 3em; } }

.team-member-section {
  padding-top: 2em;
  text-align: center; }
  .team-member-section h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.75em;
    letter-spacing: 1px; }
    @media (min-width: 992px) {
      .team-member-section h2 {
        font-size: 2.125em; } }
  .team-member-section-item {
    position: relative; }
    .team-member-section-item .col-md-6 {
      position: relative; }
      @media (min-width: 992px) {
        .team-member-section-item .col-md-6 {
          position: static; } }
      .team-member-section-item .col-md-6.image-panel {
        align-self: flex-end; }
    .team-member-section-item-content-nav {
      display: inline-block; }
    .team-member-section-item-image {
      position: static;
      bottom: 0; }
      @media (min-width: 992px) {
        .team-member-section-item-image {
          position: absolute; } }
      .team-member-section-item-image img {
        max-width: 100%;
        margin-top: 1em; }
    .team-member-section-item > .container {
      height: 100%; }
      .team-member-section-item > .container > .row {
        height: 100%;
        align-items: center; }
    .team-member-section-item-content {
      text-align: center; }
      .team-member-section-item-content h3 {
        margin-top: 0.5em;
        margin-bottom: 0;
        font-size: 1.25em; }
        @media (min-width: 768px) {
          .team-member-section-item-content h3 {
            margin-bottom: 0.5em;
            font-size: 2.25em; } }
        @media (min-width: 992px) {
          .team-member-section-item-content h3 {
            font-size: 3em; } }
      .team-member-section-item-content-text {
        font-size: 0.875em;
        line-height: 1.3; }
        @media (min-width: 768px) {
          .team-member-section-item-content-text {
            line-height: 1.4;
            font-size: 1em; } }
        @media (min-width: 992px) {
          .team-member-section-item-content-text {
            font-size: 1.35em; } }
        .team-member-section-item-content-text p {
          display: inline; }
    .team-member-section-item-position {
      font-size: 1em;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid #fff; }
      @media (min-width: 768px) {
        .team-member-section-item-position {
          padding-bottom: 16px;
          margin-bottom: 16px;
          font-size: 1.75em; } }
      @media (min-width: 992px) {
        .team-member-section-item-position {
          font-size: 2.125em; } }

.testimonials-section {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center; }
  .testimonials-section h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.75em;
    letter-spacing: 1px; }
    @media (min-width: 992px) {
      .testimonials-section h2 {
        font-size: 2.125em; } }
  .testimonials-section .slick-carousel-nav ul {
    text-align: center !important; }
  .testimonials-section .slick-carousel-nav a {
    color: #fff; }
  .testimonials-section.white-bg .slick-carousel-nav a, .testimonials-section.grey-bg .slick-carousel-nav a {
    color: #005dab; }
  .testimonials-section-item-content-text {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.75; }
    @media (min-width: 992px) {
      .testimonials-section-item-content-text {
        font-size: 1.125em; } }
  .testimonials-section-item-content-name {
    font-size: 1.125em; }
    @media (min-width: 992px) {
      .testimonials-section-item-content-name {
        font-size: 1.5em; } }

.prefooter {
  padding-top: 2em;
  padding-bottom: 1.5em; }
  .prefooter > .container > .row {
    align-items: center; }
  .prefooter-membership {
    text-align: right; }
    .prefooter-membership-items {
      display: inline-block;
      margin-left: 2em;
      max-width: 24%; }
  .prefooter-mobile {
    width: 90%;
    margin: 0 auto; }
    .prefooter-mobile-logo {
      display: block;
      padding-top: 1.5em;
      padding-bottom: 1em; }
      .prefooter-mobile-logo img {
        width: 100%; }
    .prefooter-mobile .prefooter-membership-mobile {
      padding-top: 1em;
      padding-bottom: 1em; }
      .prefooter-mobile .prefooter-membership-mobile .prefooter-membership-items {
        margin-left: 0;
        max-width: 32.5%;
        text-align: center; }
        .prefooter-mobile .prefooter-membership-mobile .prefooter-membership-items img {
          width: 80%; }
  .prefooter img {
    max-height: 90px; }

.footer-menu ul.menu > li > a {
  display: block;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1em; }
  @media (min-width: 992px) {
    .footer-menu ul.menu > li > a {
      font-size: 1.125em; } }

.footer-menu a {
  font-size: 0.875em;
  font-weight: 500;
  text-decoration: none;
  line-height: 1; }

.footer-widget {
  padding-top: 0;
  padding-bottom: 1.5em; }
  @media (min-width: 768px) {
    .footer-widget {
      padding-top: 2em; } }
  .footer-widget .btn {
    padding: 1em 0.875em;
    margin-top: 2em;
    width: 100%;
    font-size: 0.75em;
    line-height: 1.5; }
    .footer-widget .btn:hover {
      color: #fff; }
    @media (min-width: 992px) {
      .footer-widget .btn {
        font-size: 0.8125em; } }
  .footer-widget .widgettitle {
    margin-bottom: 0.5em;
    font-size: 1.25em;
    font-weight: 600; }
    @media (min-width: 768px) {
      .footer-widget .widgettitle {
        margin-bottom: 0.875em;
        font-size: 1em; } }
    @media (min-width: 992px) {
      .footer-widget .widgettitle {
        font-size: 1.125em; } }
  .footer-widget a {
    font-weight: 600; }
    .footer-widget a:hover {
      color: #383d46; }

.blog-content h1,
.contact-us h1 {
  font-size: 1.5em;
  line-height: 1.235em;
  margin-bottom: .618em; }
  @media (min-width: 768px) {
    .blog-content h1,
    .contact-us h1 {
      font-size: 1.75em; } }
  @media (min-width: 992px) {
    .blog-content h1,
    .contact-us h1 {
      font-size: 2.125em; } }

.blog-content h2,
.contact-us h2 {
  font-size: 1.25em;
  line-height: 1.348em;
  margin-bottom: .913em; }
  @media (min-width: 768px) {
    .blog-content h2,
    .contact-us h2 {
      font-size: 1.438em; } }

.blog-content h3,
.contact-us h3 {
  font-size: 1em;
  line-height: 1.3em;
  margin-bottom: 1.105em; }
  @media (min-width: 768px) {
    .blog-content h3,
    .contact-us h3 {
      font-size: 1.188em; } }

.blog-content p,
.contact-us p {
  margin-bottom: 1.618em; }

.sidebar {
  padding-left: 1em; }
  .sidebar-heading {
    font-size: 1.438em;
    line-height: 1.348em;
    margin-bottom: .913em; }
  .sidebar-list {
    padding-top: 1em; }
    .sidebar-list ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #656f7f; }
      .sidebar-list ul li {
        border-top: 1px solid #656f7f; }
        .sidebar-list ul li a {
          display: block;
          padding: 0.5em; }

.content-heading,
.sidebar {
  padding-top: 2.5em; }

.blog-content a {
  text-decoration: none;
  color: #005dab; }
  .blog-content a:hover {
    color: #004178; }

.blog-content .btn.white-txt {
  color: #fff; }

.blog-content .post-title {
  font-size: 1.25em; }
  @media (min-width: 768px) {
    .blog-content .post-title {
      font-size: 1.438em; } }

.blog-content .post-meta {
  font-size: 0.875em; }

.blog-content .post-image {
  margin-bottom: 1em; }
  .blog-content .post-image img {
    width: 100%;
    display: block;
    border: 1px solid #656f7f; }

.blog-content .post-content p {
  font-size: 0.9375em; }

.blog-content .post-btn {
  text-align: left; }
  @media (min-width: 768px) {
    .blog-content .post-btn {
      text-align: right; } }
  .blog-content .post-btn .btn {
    width: 100%; }
    @media (min-width: 768px) {
      .blog-content .post-btn .btn {
        width: auto; } }

.blog-content .post-divider {
  display: block;
  height: 1px;
  background: #ddd;
  width: 50%;
  margin: 1.5em auto; }
  @media (min-width: 768px) {
    .blog-content .post-divider {
      margin: 3em auto; } }

.blog-content .post-navigation {
  margin-top: 2em;
  padding-top: 1.5em;
  text-align: center;
  border-top: 1px solid #656f7f; }
  .blog-content .post-navigation .page-numbers {
    display: inline-block;
    padding: 0.125em 0.5em;
    border: 1px solid #656f7f;
    border-radius: 2px; }
    .blog-content .post-navigation .page-numbers.current {
      background-color: #005dab;
      color: #fff; }

.contact-us .contact-us-cta {
  margin-top: 0;
  margin-bottom: 1em; }
  @media (min-width: 768px) {
    .contact-us .contact-us-cta {
      margin-top: 2.5em; } }
  .contact-us .contact-us-cta a {
    position: relative;
    padding: 1.5em 3em 1.5em 1em;
    display: block;
    text-decoration: none;
    background-color: #005dab;
    color: #fff; }
    .contact-us .contact-us-cta a:after {
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      font-size: 3em;
      position: absolute;
      right: 0.25em;
      top: 0.5em; }
    .contact-us .contact-us-cta a strong, .contact-us .contact-us-cta a b {
      font-size: 1.4375em;
      font-weight: 600; }
      .contact-us .contact-us-cta a strong:before, .contact-us .contact-us-cta a b:before {
        content: "\f095";
        display: inline-block;
        font-size: 0.875em;
        font-family: "Font Awesome 5 Free";
        margin: 0 0.25em 0.25em 0; }
    .contact-us .contact-us-cta a:hover {
      background-color: #004178;
      color: #fff; }

.contact-us hr {
  width: 40%;
  margin: 2em auto; }

.contact-us .main-location-item a:not(.btn),
.contact-us .additional-location-item a:not(.btn) {
  font-weight: 400;
  text-decoration: none;
  color: #005dab;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }
  .contact-us .main-location-item a:not(.btn):hover,
  .contact-us .additional-location-item a:not(.btn):hover {
    color: #004178; }

.contact-us .main-location-item h2 {
  color: #005dab; }

.contact-us .main-location-item-map iframe {
  width: 100%; }

.contact-us .main-location-item-address, .contact-us .main-location-item-button, .contact-us .main-location-item-hours {
  margin-bottom: 1em; }

.contact-us .main-location-item-address p, .contact-us .main-location-item-hours p {
  margin-bottom: 0; }

.contact-us .main-location-item-hours span, .contact-us .main-location-item-phone span, .contact-us .main-location-item-fax span, .contact-us .main-location-item-support span, .contact-us .main-location-item-email span {
  display: inline-block;
  width: 150px;
  font-weight: 600; }

.contact-us .main-location-item-email {
  margin-bottom: 1.5em; }

.contact-us .main-location-item .btn {
  width: 100%; }

.contact-us .main-location-item-address, .contact-us .main-location-item-hours, .contact-us .main-location-item-phone, .contact-us .main-location-item-fax, .contact-us .main-location-item-support, .contact-us .main-location-item-email {
  font-size: 0.9375em; }
  @media (min-width: 768px) {
    .contact-us .main-location-item-address, .contact-us .main-location-item-hours, .contact-us .main-location-item-phone, .contact-us .main-location-item-fax, .contact-us .main-location-item-support, .contact-us .main-location-item-email {
      font-size: 1em; } }

.contact-us .additional-location-item {
  margin-bottom: 1.5em; }
  .contact-us .additional-location-item h2,
  .contact-us .additional-location-item h3 {
    color: #005dab; }
  .contact-us .additional-location-item p {
    font-size: 0.9375em; }
    @media (min-width: 768px) {
      .contact-us .additional-location-item p {
        font-size: 1em; } }

.search-form .search-field {
  width: 24em;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 50%;
  line-height: 2.75em;
  border: 1px solid #656f7f;
  float: left; }
  @media (min-width: 768px) {
    .search-form .search-field {
      max-width: 80%;
      line-height: 2.8em; } }
  @media (min-width: 992px) {
    .search-form .search-field {
      max-width: 80%;
      line-height: 3.125em; } }

.search-form .search-submit {
  margin-top: 0;
  float: left; }
  @media (min-width: 768px) {
    .search-form .search-submit {
      max-width: 20%; } }

.search-result h1 {
  margin-bottom: 1em; }

.search-result-item h2 {
  font-size: 1.125em; }
  @media (min-width: 768px) {
    .search-result-item h2 {
      font-size: 1.25em; } }
  @media (min-width: 992px) {
    .search-result-item h2 {
      font-size: 1.5em; } }
  .search-result-item h2 a {
    text-decoration: none;
    color: #005dab; }

.search-result .post-divider {
  display: block;
  height: 1px;
  background: #ddd;
  width: 50%;
  margin: 1.5em auto; }
  @media (min-width: 768px) {
    .search-result .post-divider {
      margin: 3em auto; } }

.search-result .navigation.pagination {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  border-radius: 0; }
  .search-result .navigation.pagination .nav-links {
    width: 100%; }
  .search-result .navigation.pagination .page-numbers {
    display: inline-block;
    padding: 0.125em 0.5em;
    text-decoration: none;
    border: 1px solid #656f7f;
    border-radius: 2px;
    color: #005dab; }
    .search-result .navigation.pagination .page-numbers.current {
      background-color: #005dab;
      color: #fff; }

.footer-widget {
  display: none; }
  @media (min-width: 768px) {
    .footer-widget {
      display: block; } }
  .footer-widget.footer-details {
    display: block;
    text-align: center;
    margin-top: 1em; }
    @media (min-width: 768px) {
      .footer-widget.footer-details {
        margin-top: 0;
        text-align: left; } }
    .footer-widget.footer-details .btn {
      display: block;
      width: 60%;
      margin-left: auto;
      margin-right: auto; }
      @media (min-width: 768px) {
        .footer-widget.footer-details .btn {
          display: inline-block;
          width: 100%; } }

.legal {
  padding-top: 1.5em;
  padding-bottom: 4em;
  text-align: center;
  font-size: 0.75em; }
  @media (min-width: 992px) {
    .legal {
      font-size: 0.875em; } }
  .legal p span {
    display: inline-block; }
    @media (min-width: 768px) {
      .legal p span {
        display: block; } }

.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 99; }
  .sticky-footer a {
    display: block;
    padding: 1.125em 2em;
    width: 100%;
    background-color: #34B8EA;
    color: #fff; }
